*{
    margin: 0;
    border: 0;
    padding: 0;
}

header{
    text-align: center;
    padding: 10px;
    margin: 10px 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.card{
    font-size: 19px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(111, 217, 217);
    width: 300px;
    height: 170px;
}
.card .footer{
    padding-top: 25px;
    font-size: 17px;
}
label,p,input{
    margin: 0 10px;
    border-radius: 5px;

}
input[type="number"]{
    font-size: 19px;
    width: 50px;
    height: 20px;
    padding: 4px;
}
input[type="button"]{
    width: 100px;
    height: 35px;
    margin-top: 15px;
}